body {
  background: linear-gradient(135deg, #66ccff, #ff80b3);
  margin: 0;
  padding: 0;
  font-family: arial, sans-serif;
}


.App {
  text-align: center;
  padding: 20px;
}

input[type='text'] {
  margin-right: 10px;
}

button {
  padding: 5px 10px;
  background:linear-gradient(135deg, #66ccff, #ff80b3);
  border: none;
  color: #fff;
  cursor: pointer;
}
button:hover{
  background: linear-gradient(135deg, #33aaff, #ff3385);
}

.workout-list {
  margin-top: 20px;
}

.workout-item {
  border: 1px solid #ccc;
  padding: 10px;
  margin-bottom: 10px;
  text-align: left;
  background-color: #fff;
  color: #333;
}
